<?xml version="1.0" encoding="utf-8"?>
<configuration>
<configSections>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
        <section name="SoundLoad.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
    </sectionGroup>
</configSections>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.1"/></startup><userSettings>
        <SoundLoad.Properties.Settings>
            <setting name="DownloadPath" serializeAs="String">
                <value />
            </setting>
            <setting name="Path" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="Artist" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="Cover" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="OpenFolder" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="Skip" serializeAs="String">
                <value>True</value>
            </setting>
        </SoundLoad.Properties.Settings>
    </userSettings>
</configuration>
